.app {
  height: 100%;
  .about {
    position: relative;
    top: -15px;
    @media screen and (min-width: 768px) and (max-width: 1024px) {
      top: -10px;
    }
    @media screen and (min-width: 320px) and (max-width: 767px) {
      top: -5px;
    }
  }
  .landing-links {
    position: absolute;
    bottom: 50px;
    left: 0;
    display: flex;
    gap: 20px;
    z-index: 1;
    @media screen and (min-width: 768px) and (max-width: 1024px) {
      width: 100%;
      justify-content: center;
      svg {
        width: 30px;
        height: 30px;
      }
    }
    @media screen and (min-width: 320px) and (max-width: 767px) {
      width: 100%;
      justify-content: center;
      gap: 5px;
      bottom: 20px;
      svg {
        width: 18px;
        height: 18px;
      }
    }
  }
  .mint-section {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    img {
      position: absolute;
      bottom: 0;
      left: 33.5%;
    }
    .mint-content {
      padding: 20px 0;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: space-around;
      gap: 20px;
      flex-direction: column;
      .count {
        display: flex;
        align-items: center;
        flex-direction: center;
        gap: 10px;
      }
      .count > div {
        padding: 10px 15px;
        background: #e44054;
        border: 5px solid #2b7055;
        border-radius: 15px;
        color: white;
        cursor: pointer;
      }
      .count > div:nth-child(2) {
        padding: 10px 30px;
        cursor: default;
      }
    }
    @media screen and (min-width: 768px) and (max-width: 1024px) {
      display: none;
    }
    @media screen and (min-width: 320px) and (max-width: 767px) {
      display: none;
    }
  }
  .img {
    width: 100%;
  }
  .solamas-animation-content {
    padding: 30px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20%;
    .rowContainer {
      position: relative;
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      margin: 0 auto;
      .row {
        display: flex;
        gap: 10px;
        &.animate {
          animation: bannermove 100s alternate infinite;
          animation-timing-function: linear;
        }
      }
    }
    img {
      width: 150px;
      height: 150px;
      @media screen and (min-width: 768px) and (max-width: 1024px) {
        width: 90px;
        height: 90px;
      }
      @media screen and (min-width: 320px) and (max-width: 767px) {
        width: 30px;
        height: 30px;
      }
    }
    @media screen and (min-width: 768px) and (max-width: 1024px) {
      top: 15%;
    }
    @media screen and (min-width: 320px) and (max-width: 767px) {
      padding: 10px;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .anchor {
    svg {
      width: 18px;
      height: 18px;
    }
  }
}

@keyframes bannermove {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-220%, 0);
  }
}
