.app {
  height: 100%;
  .about {
    position: relative;
    top: -15px;
    @media screen and (min-width: 768px) and (max-width: 1024px) {
      top: -10px;
    }
    @media screen and (min-width: 320px) and (max-width: 767px) {
      top: -5px;
    }
  }
  .landing-links {
    width: 100%;
    position: absolute;
    bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    @media screen and (min-width: 768px) and (max-width: 1024px) {
      svg {
        width: 30px;
        height: 30px;
      }
    }
    @media screen and (min-width: 320px) and (max-width: 767px) {
      bottom: 20px;
      svg {
        width: 18px;
        height: 18px;
      }
    }
  }
  .img {
    width: 100%;
  }
  .solamas-animation-content {
    padding: 30px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 20%;
    .rowContainer {
      position: relative;
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      margin: 0 auto;
      .row {
        display: flex;
        gap: 10px;
        &.animate {
          animation: bannermove 100s alternate infinite;
          animation-timing-function: linear;
        }
      }
    }
    img {
      width: 150px;
      height: 150px;
      @media screen and (min-width: 768px) and (max-width: 1024px) {
        width: 90px;
        height: 90px;
      }
      @media screen and (min-width: 320px) and (max-width: 767px) {
        width: 30px;
        height: 30px;
      }
    }
    @media screen and (min-width: 768px) and (max-width: 1024px) {
      bottom: 10%;
    }
    @media screen and (min-width: 320px) and (max-width: 767px) {
      padding: 10px;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .anchor {
    svg {
      width: 18px;
      height: 18px;
    }
  }
}

@keyframes bannermove {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-220%, 0);
  }
}
