@font-face {
  font-family: "Candy Beans";
  src: url("./fonts/Candy\ Beans.otf") format("opentype");
  font-style: normal;
}

body {
  margin: 0;
}

body,
#root {
  height: 100%;
  font-family: "Candy Beans";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::after,
*::before {
  box-sizing: border-box;
}
